reccmp-user.yml
reccmp-build.yml
Debug/
Release/
*.ncb
/.vs
/.vscode
/.idea
.env
.venv
env/
venv/
ENV/
VENV/
env.bak/
venv.bak/
*.swp
LEGO1PROGRESS.*
ISLEPROGRESS.*
*.pyc
tools/ghidra_scripts/import.log

# Built Binaries are Compiled to ./build
build/*.EXE
build/B_TMA*.DLL
build/X10_TMA*.DLL
build/B_OMNI*.DLL
build/*.ilk
build/*.pdb
build/*.lib
build/*.exp
setupPaths.bat
build/CMakeFiles/
build/SAV/

build/.cmake
build/CMakeCache.txt
build/Makefile
build/cmake_install.cmake
build/tma_sources.txt

dgVoodooSetup.exe
build/Lego/*
!build/Lego/Scripts
build/Lego/Scripts/*
!build/Lego/Scripts/NOCD.SI
